<footer class="android-footer mdl-mega-footer">
  <div class="mdl-mega-footer--top-section">
    <div class="mdl-mega-footer--left-section">
      <button class="mdl-mega-footer--social-btn"></button>
      &nbsp;
      <button class="mdl-mega-footer--social-btn"></button>
      &nbsp;
      <button class="mdl-mega-footer--social-btn"></button>
    </div>
  </div>

  <div class="mdl-mega-footer--middle-section">
    <p class="mdl-typography--font-light">ICT4G: © 2017 FBK, Fondazione Bruno Kessler, Italy TN</p>
    <p class="mdl-typography--font-light">Universita' degli Studi di Trento, UniTN</p>
  </div>

</footer>