<footer class="<%= given_class %> android-footer mdl-mega-footer">
  <div class="mdl-mega-footer--top-section">
    <div class="mdl-mega-footer--left-section">

    </div>
  </div>

  <div class="mdl-mega-footer--middle-section footer_color">
    <p class="mdl-typography--font-light">ICT4G: &copy; 2017, Fondazione Bruno Kessler FBK, Centro Ricerca GPI</p>
    <p class="mdl-typography--font-light">Trento, Italy</p>
  </div>

</footer>