<footer class="<%= given_class %> android-footer mdl-mega-footer">
  <div class="mdl-mega-footer--top-section">
    <div class="mdl-mega-footer--left-section">

    </div>
  </div>

  <div class="mdl-mega-footer--middle-section footer_color">
    <p class="mdl-typography--font-light">ICT4G: &copy; 2017, Fondazione Bruno Kessler FBK, Centro Ricerca GPI</p>
    <p class="mdl-typography--font-light">Trento, Italy</p>
  </div>

</footer>


<!--<footer class="footer">-->
  <!--<div class="container-fluid">-->
    <!--<nav class="pull-left">-->
      <!--<ul>-->
        <!--<li>-->
          <!--<a href="#">-->
            <!--Home-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="#">-->
            <!--Company-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="#">-->
            <!--Portfolio-->
          <!--</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="#">-->
            <!--Blog-->
          <!--</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</nav>-->
    <!--<p class="copyright pull-right">-->
      <!--&copy;-->
      <!--<script>-->
<!--//          document.write(new Date().getFullYear())
      <!--</script>-->
      <!--<a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web-->
    <!--</p>-->
  <!--</div>-->
<!--</footer>-->