<% provide(:title, "About") %>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <%= render 'home/header' %>
  <%= render 'home/drawer' %>

  <div class="android-content mdl-layout__content">
    <h1>About</h1>
    <p>
      This is a platform for monitoring activities.
    </p>

    <%= render 'home/footer' %>
  </div>
</div>
