<% provide(:title, 'Aiuto') %>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <div class="android-content mdl-layout__content">
    <h1>Aiuto</h1>
    <p>
      Pagina nella quale viene spiegato come funziona la piattaforma.
    </p>

  </div>

</div>
