


<div class="content_table">
<div class="content">
    <div class="row">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header" data-background-color="blue">

          </div>
          <div class="card-content table-responsive">
            <table class="table table-hover content_align">

              <tbody>
              <tr>

                <td class="text-primary naming">Descrizione</td>
                <td><%= plan.desc %></td>

              </tr>
              <tr>
                <td class="text-primary naming">Periodo</td>
                <td>dal <b> <%= plan.from_day.strftime('%d/%m/%Y') %> </b>  al <b><%= plan.to_day.strftime('%d/%m/%Y') %></b></td>


              </tr>
              <% if options[:activities_count] %>
              <tr>
                <td class="text-primary naming"> Attività sotto questo piano</td>
                <td class="label-success"><%= plan.activities.count %></td>
              </tr>
              <% end %>


              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>
</div>