<div class="card card-profile">
  <div class="card-avatar">
    <%= image_tag profile_photo_url, alt: 'paziente', class: 'img' %>
  </div>

  <div class="content">
    <h6 class="category text-gray">Paziente</h6>
    <h4 class="card-title"><%= "#{user.first_name} #{user.last_name}" %></h4>
    <p class="card-content">
    <table class="table">
      <tbody class="text-primary">

      <tr>
        <td>
          Eta'
        </td>
        <td>
          <%= features.age %>
        </td>
      </tr>

      <% unless features.py_cluster.nil? %>
          <tr>
            <td>
              Il sistema ha classificato il paziente come
            </td>
            <td>
              <%= cluster %>
            </td>
          </tr>
      <% end %>

      </tbody>
    </table>
    </p>
  </div>
</div>