<div class="line-separator"></div>
<div class="features-page"></div>
<div id="overview-title">
  <h5>Informazioni raccolte attraverso il sistema</h5>
</div><br><br>

<% if  no_features_collected  %>
  <%= no_features_card %>
<% else %>
  <%= features_card %>
<% end %>

