<header class="profile_content_header mdl-layout__header">

  <div class="mdl-layout__header-row">
    <nav class="mdl-navigation" >


        <%= link_to plans_users_path(user), class: 'mdl-navigation__link', method: 'get' do %>
          <button id="overview-user" class="btn btn-primary btn-large button_tasks">
            <i class="material-icons">assessment</i> &nbsp Tutti Piani
          </button>
        <% end %>

      <%= link_to active_plans_users_path(user), class: 'mdl-navigation__link', remote: true do %>
        <button id="active_plans_users" class="btn btn-info btn-large button_tasks">
          <i class="material-icons">assessment</i> &nbsp In Corso
        </button>
      <% end %>


      <%= link_to finished_plans_users_path(user), class: 'mdl-navigation__link', remote: true do %>
        <button id="finished_plans_users" class="btn btn-success btn-large button_tasks">
          <i class="material-icons">done_all</i> &nbsp Portati a termine
        </button>
      <% end %>

    </nav>
  </div>




</header>

