/* line 1, /Users/ict4g/Desktop/CoachAIBot/app/assets/stylesheets/pdf_styles.scss */
div.alwaysbreak {
  page-break-before: always;
}

/* line 2, /Users/ict4g/Desktop/CoachAIBot/app/assets/stylesheets/pdf_styles.scss */
div.nobreak:before {
  clear: both;
}

/* line 3, /Users/ict4g/Desktop/CoachAIBot/app/assets/stylesheets/pdf_styles.scss */
div.nobreak {
  page-break-inside: avoid;
}

/* line 5, /Users/ict4g/Desktop/CoachAIBot/app/assets/stylesheets/pdf_styles.scss */
div.header-grid {
  text-align: -webkit-center;
}

/* line 9, /Users/ict4g/Desktop/CoachAIBot/app/assets/stylesheets/pdf_styles.scss */
img.header-img {
  width: 100%;
}

/* line 13, /Users/ict4g/Desktop/CoachAIBot/app/assets/stylesheets/pdf_styles.scss */
div.header-card {
  width: 70%;
  height: 100%;
}
