<table class="table table-sm">
	<thead class="thead-light">
		<tr>
			<th>Attività</th>
			<th>Quantità</th>
			<th>Data inizio</th>
			<th>Data fine</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% objectives.each do |objective| %>
			<%= cell(:objective, objective).(:row) %>
		<% end %>
	</tbody>
</table>
