<div class="android-header mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
<div class="col-lg-7 col-lg-offset-2">
      <%= link_to home_index_path do %>
        <%= image_tag 'CoachAI Graphics/CoachAI_logo.png', class: 'android-logo-image outer' %>
      <% end %>
</div>


  </div>
</div>