<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="notificationsButton">
  <i class="material-icons mdl-badge" data-badge="!">notifications</i>
</button>

<ul id="communications" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="notificationsButton" data-url="<%= all_communications_path(coach) %>">
  <% communications.each do |communication| %>
      <li class="mdl-menu__item">
        <input type="hidden" class="communication_hidden" value="<%= communication.id %>">
        <%= communication.text %>
      </li>
  <% end %>
</ul>