<h5>Overview</h5>
<div class="overview-action"></div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col-desktop">
    <div id="graphs-container">

    </div>
  </div>

  <div class="mdl-cell mdl-cell--6-col-desktop">
    <div id="container2">

    </div>
  </div>
</div>

<input type="hidden" id="hidden_user_id" value="<%= @user.id %>">



