<% provide(:sub_title, 'Patients') %>

<div>
  <%= render 'users/edit_header' %>
  <div id="patient">
    <div class="line-separator"></div>

    <div id="users_plans">
      <%= render 'users/plans'%>
    </div>


  </div>

</div>