<%= provide(:title, "Gestione Piani di #{@user.first_name} #{@user.last_name}") %>
<div>
  <%= cell(:user_menu, @user) %>
  <div id="patient">
    <div class="line-separator"></div>

    <div id="users_plans">
      <%= cell(:user_plans, @user, plans: @user.plans)%>
    </div>

    <div id="new_plan_popup">

    </div>

  </div>
</div>