<%= provide(:title, "Panoramica di #{@user.last_name} #{@user.first_name}") %>
<div>
  <%= cell(:user_menu, @user)%>

  <div id="patient">
    <div class="line-separator"></div>

    <%= cell(:overview, @user)%>

  </div>

</div>