<div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <%= image_tag 'coachAI.jpg', class: 'android-logo-image' %>
        </span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="">About the Platform</a>
    <a class="mdl-navigation__link" href="">How to subscribe</a>
    <a class="mdl-navigation__link" href="">How it works</a>
    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link" href="">Versions</span>
    <a class="mdl-navigation__link" href="">Developer Team</a>
    <a class="mdl-navigation__link" href="">FBK</a>
    <a class="mdl-navigation__link" href="">Contact us</a>
    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link" href="">Resources</span>
    <a class="mdl-navigation__link" href="">CoachAI on Google+</a>
    <a class="mdl-navigation__link" href="">CoachAI on Twitter</a>
  </nav>
</div>