<div class="android-header mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <%= image_tag 'coachAI.jpg', class: 'android-logo-image' %>
          </span>
    <!-- Add spacer, to align navigation to the right in desktop -->
    <div class="android-header-spacer mdl-layout-spacer"></div>
    <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="text" id="search-field">
      </div>
    </div>
    <!-- Navigation -->
    <div class="android-navigation-container">
      <nav class="android-navigation mdl-navigation">
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">About</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Help</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Log In</a>
      </nav>
    </div>
  </div>
</div>