<%= provide(:title, "Mostra Indagine") %>

<div class="container">
<div>
  <ul>
    <li class="list-group-item">

      Titolo Indagine:
      <%= label :campaign_title, @campaign.name %><br>
    </li>
  </ul>
</div>
<div>
  <ul>
    <li class="list-group-item">

      Tag dell'Indagine:
      <%= label :tag_list, @campaign.tag_list.join(", ") %><br>
    </li>
  </ul>
</div>

<div class="btn-toolbar">
  <% @campaign.users.each do |user| %>
    <li><%= " #{user.first_name} #{user.last_name}" %></li>

  <% end %>
</div>
</div>





<!--<div class="form-group">-->
<!--  Titolo Indagine:-->
<!--  <%#= label :campaign_title, @campaign[:title] %><br>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--  Tag dell'Indagine-->
<!--  <%#= label :tag_list, @campaign[:tag_list].join(", ") %><br>-->
<!--</div>-->

<!--<ul>-->
  <%# @campaign[:users].each do |user| %>
<!--    <li><%#= user['name'] %></li>-->
  <%# end %>
<!--</ul>-->

<!--<div class="actions">-->
  <%#= submit_tag "Crea indagine", class: "btn btn-success" %>
<!--</div>-->









