<header class="header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title"><%= title %></span>
    <div class="mdl-layout-spacer"></div>


    <form class="navbar-form navbar-right" role="search">
      <div class="form-group  is-empty">
        <input type="text" class="form-control" placeholder="Search">
        <span class="material-input"></span>
        <span class="material-input"></span></div>
      <button type="submit" class="btn btn-white btn-round btn-just-icon">
        <i class="material-icons">search</i>
      </button>
    </form>

    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="notificationsButton">
      <i id="communications-badge" class="material-icons mdl-badge">notifications</i>
    </button>

    <ul id="communications" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="notificationsButton" data-url="<%= lasts_communications_path(coach) %>">
      <li class="mdl-menu__item">
        <div class="all_communications">
          Non hai nessuna nuova notifica
        </div>
      </li>
      <li class="mdl-menu__item">
        <%= link_to all_communications_path(coach) do %>
            <div class="all_communications">
              Vedi tutte le notifiche
            </div>
        <% end %>
      </li>
    </ul>

    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="moreButton">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="moreButton">
      <%= link_to destroy_coach_user_session_path, method: :delete do %>
          <li class="mdl-menu__item">Log Out</li>
      <% end %>
    </ul>
  </div>
</header>
