<header class="header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">Profilo Personale</span>
    <div class="mdl-layout-spacer"></div>

    <form class="navbar-form navbar-right" role="search">
      <div class="form-group  is-empty">
        <input type="text" class="form-control" placeholder="Search">
        <span class="material-input"></span>
        <span class="material-input"></span></div>
      <button type="submit" class="btn btn-white btn-round btn-just-icon">
        <i class="material-icons">search</i>
      </button>
    </form>

    <%= cell(:communications, coach) %>

    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="moreButton">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="moreButton">
      <%= link_to static_pages_about_path do %>
          <li class="mdl-menu__item">About</li>
      <% end %>

      <%= link_to static_pages_help_path do %>
          <li class="mdl-menu__item">Help</li>
      <% end %>

      <%= link_to destroy_coach_user_session_path, method: :delete do %>
          <li class="mdl-menu__item">Sign Out</li>
      <% end %>
    </ul>
  </div>
</header>
