<header class="profile_content_header mdl-layout__header">

  <div class="mdl-layout__header-row sub_menu">
    <nav class="mdl-navigation" >

      <%= link_to users_path,  class: 'mdl-navigation__link' do %>
          <button id="all-users" class="mdl-button mdl-js-button mdl-button--raised">
            <i class="material-icons">supervisor_account</i> &nbsp Tutti
          </button>
      <% end %>

      <%= link_to archived_users_path, class: 'mdl-navigation__link', remote: true do %>
          <button id="archived-users" class="mdl-button mdl-js-button mdl-button--raised" >
            <%= image_tag 'archive_user_icon.png' %> &nbsp Archiviati
          </button>
      <% end %>

      <!--
      <%#= link_to active_users_path, class: 'mdl-navigation__link' do %>
          <button id="active-users" class="mdl-button mdl-js-button mdl-button--raised" >
            <i class="material-icons">insert_emoticon</i> &nbsp Attivi
          </button>
      <%# end %>

      <%#= link_to suspended_users_path, class: 'mdl-navigation__link' do %>
          <button id="suspended-users" class="mdl-button mdl-js-button mdl-button--raised" >
            <i class="material-icons">block</i> &nbsp Sospesi
          </button>
      <%# end %>
      -->

      <%= link_to new_user_path, class: 'mdl-navigation__link' do %>
          <button id="new-users" class="mdl-button mdl-js-button mdl-button--raised" >
            <i class="material-icons">fiber_new</i> &nbsp Nuovo Utente
          </button>
      <% end %>


    </nav>
  </div>
</header>