<%= cell(:layout, section: "wearables", title: "Edit user: #{@user.first_name} #{@user.last_name}").() do %>
	<% capture do %>
		<p>
			<% if @user.fitbit_disabled? %>
				Wearable integration for this user is not enabled<br>
				If you wish, you can enable it using the following button:
				<%= form_for(@user, url: wearable_invite_url(@user), method: 'POST') do |f| %>
					<%= f.submit 'Invite', class: 'btn btn-success' %>
				<% end %>
			<% end %>
			<% if @user.fitbit_invited? %>
				Invite to connect wearable has been delivered to the user
			<% end %>
			<% if @user.fitbit_enabled? %>
				Wearable integration for this user is enabled
			<% end %>
		</p>
	<% end %>
<% end %>
