<%= cell(:layout, section: "wearables", title: "All users").() do %>
	<% capture do %>
		<div class="container" style="max-width: 1200px">
			<h1>All users</h1>
			<section class="row text-center placeholders">
				<% User.all.each do |user| %>
					<div class="col-6 col-sm-3 placeholder" style="padding-bottom: 30px">
						<%= cell(:wearable, user).(:card) %>
					</div>
				<% end %>
			</section>
		</div>
	<% end %>
<% end %>
