<%= provide(:title, "Tutti gli utenti") %>

<div class="container">
	<h2>Tutti gli utenti</h2>
	<section class="row text-center placeholders list-group">

		<% User.all.sort_by { |e| User.fitbit_statuses[e.fitbit_status] }.reverse.each do |user| %>
      <div class="col-xs-3 placeholder"  >

			<%= cell(:wearable, user).(:card) %>


      </div>

		<% end %>

    <%#= will_paginate user, renderer: BootstrapPagination::Rails %>
	</section>

</div>
