
<table class="table">
  <thead class="thead-light">
  <tr>
    <th>Titolo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% Questionnaire.all.each do |questionnaire| %>
    <tr>
      <td>
        <%= questionnaire.title %>
      </td>
      <td>
        <%= link_to "Mostra", questionnaire_path(questionnaire), class: "badge badge-primary" %>
      </td>
      <td>
        <%= link_to "Modifica", edit_questionnaire_path(questionnaire), class: "badge badge-success" %>
      </td>
      <td>
        <%= link_to "Elimina", questionnaire_path(questionnaire), class: "badge badge-danger", method: :delete,
                    data: {confirm: "Sei sicuro di voler eliminare il Questionario #{questionnaire.title}?" +
                        "Una volta cancellato non potrai più ripristinarlo!"}%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
