<% @communications.each do |communication| %>
    <%= cell(:communication, communication) %>
<% end %>
<li class="mdl-menu__item">
  <div class="all_communications">
    Vedi tutte le notifiche
  </div>
</li>