.customContainer {
  max-width: 960px;
  margin: 0 auto;
}

.activity-insert-card-wide{
  height: auto;
  width: 100%;
  background: gainsboro;
}

#volte-con-es{
  width: 100%;
}

#new-category-input{
  display: none;
}

.new-activity-grid{
  max-width: 960px;
}

.error-grid{
  max-width: 900px;
  text-align: center;
}

.all-activities-card{
  text-align: -webkit-center;
}