.communication_not_read{
  font-weight: bold;
}

.all_communications{
  text-align: -webkit-center;
  color: blue;
  font-weight: bold;
}

.communication-hour{
  text-align: -webkit-right;
  margin-top: -10px;
  margin-right: 10px;
  color: cadetblue;
}

.mdl-menu__item:hover{
  background-color: transparent;
}

.communications-list{
  margin-left: 10%;
  margin-right: 10%;
}

.communications-list-hour{
  text-align: -webkit-right;
  margin-top: -10px;
  margin-right: 10px;
  color: #f9f9f9;
}

#communications-list-header{
  margin-top: 5px;
}

li.last{
  position: inherit;
}