/* banner */

//Changed the banner size into full-size cover
.banner {

  //background: url('CoachAI Graphics/CoachAI_logo.svg') no-repeat center,url('CoachAI Graphics/header-bg.svg') no-repeat center ;
  background: url('CoachAI Graphics/7.png') no-repeat center;
  height: 600px;
  padding-top: 0px;
  padding-bottom: 80px;
  background-size: cover;

}

.card_img{
  background: url('CoachAI Graphics/im2.png') no-repeat center;
  background-size: cover;
}

//
//.demo-card-square.mdl-card {
//  width: 320px;
//  height: 320px;
//}
//.demo-card-square > .mdl-card__title {
//  color: #fff;
//  background: url('dog.png') bottom right 15% no-repeat #46B6AC;
//
//}
.text_color{
  color: white;
}
.notification_table{
  background: url('38.jpg') no-repeat center !important;
  background-size: cover;
}
.miniback {
  background: url('38.jpg') no-repeat center;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  left: 0px;
  position: fixed;
  top: 0px;
  z-index: 9999;
  opacity: 1;
  display: block;
  right: 0px;
}

///* Header */
//
//.header {
//  /*display: table;*/
//  /*position: relative;*/
//  /*width: 100%;*/
//  height: 600px;
//  background: url(image_path('header-bg.svg')) no-repeat center, url(image_path('bbg.jpg')) no-repeat center;
//  padding-top: 0px;
//  padding-bottom: 80px;
//  /*max-height: 100%;*/
//  /*max-width: 100%;*/
//  /*width: 200%;*/
//  background-size: cover;
//  /*-webkit-background-size: cover;*/
//  /*-moz-background-size: cover;*/
//  /*!*background-size: cover;*!*/
//  /*-o-background-size: cover;*/
//}



.pagination > li > a, .pagination > li > span{
  font-size:15px !important;
  font-weight: bold !important;

}


//The login button
.btn-banner {
  text-align: -webkit-center;
  /* margin-bottom: 22px; */
  margin: auto;
}

//The login popup window

#login_pop_up {
  display: none;
}

.large-btn-home {
  width: auto;
  height: 50px;
  font-size: xx-large;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

//.cards{
////background: url("bot.jpg") no-repeat center;
//  background-size: cover;
//}
//.sidebar .sidebar-background:after, .off-canvas-sidebar .sidebar-background:after{
//  position: absolute;
//  z-index: 3;
//  width: 100%;
//  height: 100%;
//  content: "";
//  display: block;
//  background: #FFFFFF;
//  opacity: .93;
//}
//.side_background {
//
//  background: rgba(255, 0, 0, 0.45);
//  background: rgba(255, 0, 0, 0.45);
//  background: url('sidebar-1.jpg') no-repeat center;
//  position: initial;
//  z-index: 1;
//  height: 100%;
//  width: 100%;
//  display: block;
//  top: 0;
//  left: 0;
//  background-size: cover;
//  background-position: center center;
//
//}

///*
//  Based from this article from Divya Manian -
//  http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html
//*/
//
//* {
//  margin: 0;
//  padding: 0;
//}
//
//*,
//:before,
//:after {
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//}
//
//html,
//body {
//  min-height: 100%;
//}
//
//body {
//  font-family: 'Oswald', sans-serif;
//  color: #fff;
//  background-color: #000;
//}
//
//.wrapper {
//  text-align: center;
//}
//
//.title {
//  font-size: 2em;
//  position: relative;
//  margin: 0 auto 1em;
//  padding: 1em 1em .25em 1em;
//  text-align: center;
//  text-transform: uppercase;
//}
//.title:after {
//  position: absolute;
//  top: 100%;
//  left: 50%;
//  width: 240px;
//  height: 4px;
//  margin-left: -120px;
//  content: '';
//  background-color: #fff;
//}
//
///* Clip text element */
//.clip-text {
//  font-size: 6em;
//  font-weight: bold;
//  line-height: 1;
//  position: relative;
//  display: inline-block;
//  margin: .25em;
//  padding: .5em .75em;
//  text-align: center;
//  /* Color fallback */
//  color: #fff;
//  -webkit-background-clip: text;
//
//  -webkit-text-fill-color: transparent;
//}
//
//.clip-text:before,
//.clip-text:after {
//  position: absolute;
//  content: '';
//}
//
///* Background */
//.clip-text:before {
//  z-index: -2;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  background-image: inherit;
//}
//
///* Text Background (black zone) */
//.clip-text:after {
//  position: absolute;
//  z-index: -1;
//  top: .125em;
//  right: .125em;
//  bottom: .125em;
//  left: .125em;
//  background-color: #000;
//}
//
///* Change the background position to display letter when the black zone isn't here */
//.clip-text--no-textzone:before {
//  background-position: -.65em 0;
//}
//
//.clip-text--no-textzone:after {
//  content: none;
//}
//
///* Use Background-size cover for photo background and no-repeat background */
//.clip-text--cover,
//.clip-text--cover:before {
//  background-repeat: no-repeat;
//  -webkit-background-size: cover;
//  background-size: cover;
//  background-position: 50% 50%;
//}
//
///* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
//.clip-text_one {
//  background-image: url(http://cdn8.staztic.com/app/a/6278/6278761/hd-abstract-wallpapers-1-0-s-307x512.jpg);
//}
//
//.clip-text_two {
//  background-image: url(http://wallpaper-gallery.net/images/black-abstract-wallpaper/black-abstract-wallpaper-4.jpg);
//}
//
//.clip-text_tree {
//  background-image: url(http://www.cruzine.com/wp-content/uploads/2012/04/005-free-abstract-wallpapers.jpg);
//}
//
//.clip-text_four {
//  background-image: url(http://hd.wallpaperswide.com/thumbs/abstract_black_design_2-t2.jpg);
//}
//
//.clip-text_five {
//  background-image: url(http://powellong.com/data/wallpapers/81/WDF_1255144.jpg);
//}
//
//.clip-text_six {
//  background-image: url(https://www.hdwallpapers.net/previews/3d-colorful-spiral-1057.jpg);
//}
//
//.clip-text_seven {
//  background-image: url(http://cdn8.staztic.com/app/a/6278/6278761/hd-abstract-wallpapers-1-0-s-307x512.jpg);
//}
//
//.clip-text_eight {
//  background-image: url(http://lorempixel.com/410/200/people);
//}
//
//.clip-text_nine {
//  background-image: url(https://wallpaperbrowse.com/media/images/background-pictures-10.jpg);
//}
//
//.clip-text_ten {
//  background-image: url(http://lorempixel.com/480/200/nightlife/8);
//}
//
//.clip-text_eleven {
//  background-image: url(http://www.wallcoo.net/cartoon/abstract_rainbow_colours_13_1920x1200/images/Abstract_Rainbow_colour_pattern_4116.jpg);
//  background-size: cover;
//}
//
//.clip-text_twelve {
//  background-image: url(http://hd.wallpaperswide.com/thumbs/abstract_wallpaper_for_mac-t2.jpg);
//}
//
//.clip-text_thirteen {
//  background-image: url(http://img.7te.org/images/570x363/abstract-painting-wallpaper-which-is-under-the-abstract-wallpapers-32968.jpg);
//}
//
//.clip-text_fourteen {
//  background-image: url(https://4kwallpapers.co/wp-content/uploads/2015/09/abstract-colorful-vectors-design-4k-wallpapers.png);
//}
//
//.clip-text_fifteen {
//  background-image: url(http://lorempixel.com/480/200/nightlife/5);
//}
//
//
//
.sub_menu_image{
  background-color: #eb982f;
  background: url("22.jpg") no-repeat !important;
  background-size: cover !important;
}

.main_button{
  color: white !important;
  text-transform: uppercase;
}
.user_chat_img{
  border-radius: 50%;
  width: 90px!important;
  height:90px !important;
  margin-top: 23px;
  font-weight: bold;
  background-color: #eb982f;
  background: url("30.jpg") no-repeat;
  background-size: cover;


}
.username_case{
  text-transform: uppercase;
}
.activity_style{
  border: 1px solid #a51d1d;
  background: #26a765;
}
.card [class*="header-"] {
  font-weight: bold;
  color: #0f1010 !important;
}

.button_tasks {
  background-color: #eb982f !important;
  color: #FFFFFF;
  font-weight: bold;
}

.chat_style {
  margin: 0 auto;
  height: 400px;
  width: 100%;
}

.moving-clouds {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 250.625em;
  height: 43.75em;
  -webkit-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite;
}

.page-header {
  background-color: #b20d10;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("header-bg.svg") no-repeat;
  background-size: cover;
}

.logo_text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 41, 24, 0.6);
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 45px;
  font-family: 'Berkshire Swash', Helvetica, sans-serif;

}

.head_sizing {
  width: 105px !important;
  height: 105px !important;
}

.icons .material-icons {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.73) !important;
  margin-right: 10px;
  font-weight: 900;

}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  border-bottom: 1px solid;
  border-top: 1px solid;
  color: #ffffff !important;
  background-color: #ff9f2c !important;
  font-weight: bold;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  display: block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 18px 23px;
  margin: 0;
  color: rgba(0, 0, 0, 0.76) !important;

}
.home_bottom{
  background: linear-gradient(#ffffff, rgba(80, 87, 255, 0.5), #dd7625), url('37.jpg') no-repeat center;
  background-size: cover;
  background-position: center center;
}
.side_background {
  background: linear-gradient(#ffffff, rgba(80, 87, 255, 0.5), #dd7625), url('37.jpg') no-repeat center;
  background-size: cover;
  background-position: center center;

  //border-radius: 2%;
}

.content_align td {
  text-align: center;
  vertical-align: middle;
}

.content_align th {
  text-align: center;
  vertical-align: middle;
}

.naming {
  text-transform: uppercase;
}

.dashboard_img_thumb {
  border-radius: 50%;
  display: inline-block;
  width: 60px !important;;
  height: 60px !important;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.user_card {
  display: inline-table !important;

  position: relative;
  width: 100%;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.patient_profile {
  background-color: #dd7625 !important;
}

.button_attivi.btn-large {
  background-color: #9c27b0 !important;
  color: #FFFFFF;
}

.button_diet.btn-large {
  background-color: #48a1b0 !important;
  color: #FFFFFF;
}

.button_fisiche.btn-large {
  background-color: #53b03d !important;
  color: #FFFFFF;
}

.button_mentale.btn-large {
  background-color: #ff4a62 !important;
  color: #FFFFFF;
}

.button_medicinali.btn-large {
  background-color: #b08114 !important;
  color: #FFFFFF;
}

.button_alt.btn-large {
  background-color: #48a1b0 !important;
  color: #FFFFFF;
}

.middle_align {
  margin-right: 375px;
}

.card_height {
  margin-top: 20px;

}

.submenu_buttons {
  background: rgb(76, 199, 255) !important;
  font-size: 17px;
  padding: 18px 36px;
}

.three_adherence {
  margin-left: -41px;
  margin-top: -153px;
  background: #ddb833a1;

}
.three_bottons{
  margin-left: 110px !important;
  margin-top: -115px !important;
}
.user_view_buttons {
  margin-left: 110px;
  margin-top: -90px;
  //display: flex;
  display: block;
}

.card_center {
  //align-content: center !important;
  //padding-left: 90px;
  display: inline-grid;
  text-transform: uppercase;
}

#notificationsButton {
  height: 60px;
  border-radius: 20%;
  padding-right: 6px;
}

.main-container {
  background: white !important;
  //  Lets keep the background simple for now
  //background: url('17.jpg') no-repeat center;
  background-size: cover;

}

.mdl-layout__header .mdl-layout__drawer-button {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: #dd7625;
}

.mdl-layout__drawer .avatar {

  margin: 28px -2px -30px 50px;
  border-radius: 43%;
  background: #ff9300;
  overflow: hidden;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background: url('19.jpg') center no-repeat;
  background-size: cover;

}

.mdl-layout__header-row {
  color: white !important;
}

.mdl-layout__drawer {
  background: white;
}

.dash_header {
  background-color: #FF9324 !important;
  font-size: larger;
  background: url('15.jpg') center no-repeat;
  background-size: cover;
}

.header_links {
  flex-shrink: 15;
}

.checkme {
  margin: 4px 19px 0;
  font-size: large;
}

.footer_color {
  color: white;
  font-weight: bold;
}

.login_group {
  border: 73px;
  background: #c1202000;
  padding: 9px 50px 65px 20px;
}

.login_img {
  width: 200px;
  height: auto;
}

body {
  margin: 0;

}

/* Disable ugly boxes around images in IE10 */
a img {
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.android-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.android-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}

.mdl-textfield--expandable {
  width: auto;
}

.android-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #64ffda !important;
  color: black !important;
}

.android-mobile-title {
  display: none !important;
}

.android-logo-image {
  height: auto;
  width: auto;

}

.outer {
  max-width: 15%;
  max-height: 15%;
  margin: 85px 9px -26px 48%;
  border-radius: 50%;
  background: #76eeff;
  background: url(22.jpg) center no-repeat;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 58px 90px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}

.android-header {
  overflow: visible;
  background-color: #FF9324;
  background: url('8.jpg') center no-repeat;
  background-size: cover;


}

.android-header .material-icons {
  color: #767777 !important;
}

.android-header .mdl-layout__drawer-button {
  background: transparent;
  color: #767777;
}

.android-header .mdl-navigation__link {
  color: #757575;
  font-weight: 700;
  font-size: 14px;
}

.android-navigation-container {
  /* Simple hack to make the overflow happen to the left instead... */
  direction: rtl;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  width: 500px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
  width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.android-navigation {
  /* ... and now make sure the content is actually LTR */
  direction: ltr;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 800px;
}

.android-search-box.is-focused + .android-navigation-container {
  opacity: 0;
  width: 100px;
}

.android-navigation .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}

.android-navigation .mdl-navigation__link:hover {
  border-bottom: 4px solid #8bc34a;
}

.android-search-box {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 16px;
  margin-right: 16px;
}

.android-more-button {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

.android-drawer {
  border-right: none;
}

.android-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.android-drawer .mdl-navigation__link.mdl-navigation__link {
  font-size: 14px;
  color: #757575;
}

.android-drawer span.mdl-navigation__link.mdl-navigation__link {
  color: #8bc34a;
}

.android-drawer .mdl-layout-title {
  position: relative;
  background: #6ab344;
  height: 160px;
}

.android-drawer .android-logo-image {
  position: absolute;
  bottom: 16px;
}

.android-be-together-section {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  //background: url('slide01.jpg') center 30% no-repeat;
  background: url('CoachAI Graphics/banner.png') center 30% no-repeat;
  background-size: cover;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.android-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.android-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

.android-create-character {
  font-size: 25px;
  padding-top: 340px;
}

.android-create-character a {
  text-decoration: none;
  color: #4b5252;
  font-weight: 300;
  font-size: larger;
  height: inherit;
}

.android-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.android-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.android-screen {
  text-align: center;
}

.android-screen .android-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.android-image-link {
  text-decoration: none;
}

.android-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

.android-wear .android-screen-image {
  width: 40%;
  z-index: 1;
}

.android-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}

.android-phone .android-screen-image {
  width: 100%;
  z-index: 1;
}

.android-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
}

.android-tablet .android-screen-image {
  width: 100%;
  z-index: 1;
}

.android-tablet .android-link {
  display: block;
  z-index: 2;
}

.android-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

.android-tv .android-screen-image {
  width: 100%;
  z-index: 1;
}

.android-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

.android-auto .android-screen-image {
  display: block;
  height: 300px;
  z-index: 1;
}

.android-wear-section {
  position: relative;
  background: url('images/wear.png') center top no-repeat;
  background-size: cover;
  height: 800px;
}

.android-wear-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #37474f;
}

.android-wear-band-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}

.android-wear-band-text p {
  padding-top: 8px;
}

.android-link {
  text-decoration: none;
  color: #8bc34a !important;
}

.android-link:hover {
  color: #7cb342 !important;
}

.android-link .material-icons {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.android-alt-link {
  text-decoration: none;
  color: #64ffda !important;
  font-size: 16px;
}

.android-alt-link:hover {
  color: #00bfa5 !important;
}

.android-alt-link .material-icons {
  position: relative;
  top: 6px;
}

.android-customized-section {
  text-align: center;
}

.android-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

.android-customized-section-text p {
  padding-top: 16px;
}

.android-customized-section-image {
  background: url('images/devices.jpg') center top no-repeat;
  background-size: cover;
  height: 400px;
}

.android-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

.android-more-section .android-section-title {
  margin-left: 12px;
  padding-bottom: 24px;
}

.android-card-container {
}

.android-card-container .mdl-card__media {
  overflow: hidden;
  background: transparent;
}

.android-card-container .mdl-card__media img {
  width: 100%;
}

.android-card-container .mdl-card__title {
  background: transparent;
  height: auto;
}

.android-card-container .mdl-card__title-text {
  color: black;
  height: auto;
}

.android-card-container .mdl-card__supporting-text {
  height: auto;
  color: black;
  padding-bottom: 56px;
}

.android-card-container .mdl-card__actions {
  position: absolute;
  bottom: 0;
}

.android-card-container .mdl-card__actions a {
  border-top: none;
  font-size: 16px;
}

.android-footer {
  background-color: #fafafa;
  position: relative;
}

.android-footer a:hover {
  color: #8bc34a;
}

.android-footer .mdl-mega-footer--top-section::after {
  border-bottom: none;
}

.android-footer .mdl-mega-footer--middle-section::after {
  border-bottom: none;
}

.android-footer .mdl-mega-footer--bottom-section {
  position: relative;
}

.android-footer .mdl-mega-footer--bottom-section a {
  margin-right: 2em;
}

.android-footer .mdl-mega-footer--right-section a .material-icons {
  position: relative;
  top: 6px;
}

.android-link-menu:hover {
  cursor: pointer;
}

/**** Mobile layout ****/
@media (max-width: 900px) {
  .android-navigation-container {
    display: none;
  }

  .android-title {
    display: none !important;
  }

  .android-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover index the bases. */
  .android.android-search-box.is-focused ~ .android-mobile-title,
  .android-search-box.is-focused + .android-navigation-container + .android-mobile-title {
    opacity: 0;
  }

  .android-more-button {
    display: none;
  }

  .android-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .android-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .android-be-together-section {
    height: 350px;
  }

  .android-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .android-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }

  .android-create-character {
    padding-top: 200px;
    font-size: 16px;
  }

  .android-create-character img {
    height: 12px;
  }

  .android-fab {
    display: none;
  }

  .android-wear-band-text {
    margin-left: 0;
    padding: 16px;
  }

  .android-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}

/*
  Log In Style
 */
.container-log-in {
  position: relative;
  top: 40px;
  perspective: 1000px;
  width: 330px;
  height: 375px;
  margin-right: auto;
  margin-left: auto;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

#cube figure {
  backface-visibility: hidden;
  margin: 0;
  width: 330px;
  height: 375px;
  display: block;
  position: absolute;
}

.mdl-textfield__label {
  color: rgba(0, 0, 1, 0.5);
}

#cube-submit:hover {
  cursor: pointer;
}
