div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }

div.header-grid{
  text-align: -webkit-center;
}

img.header-img{
  width: 70%;
}

#pdf-plans-grid{
  max-width: 80%;
}

#activity_img{
  width: 5%;
}

#pdf-header-card{
  width: 100%;
  border-style: solid;
  border-width: 1px;
}

#pdf-actions{
  border-top: #0f1010 solid 1px;
  z-index: 0;
  outline: 0px;
}

#pdf-plan-card{
  width: 100%;
  border-style: solid;
  border-width: 1px;
}

#pdf-activity-card{
  width: 70%;
  border-style: solid;
  border-width: 1px;
}

#pdf-activity-desc-card{
  width: 100%;
  border-style: solid;
  border-width: 1px;
}

#pdf-plan-desc-card{
  width: 70%;
  border-style: solid;
  border-width: 1px;
}