body{
    background-color: #222;
}
.mdl-data-table {
    table-layout:fixed;
    width:100%;
}
#my-table td, th{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

#my-table a{
    max-width:20px;
    color: indigo;
}

/* unrelated to responsive table css */
#my-table{
    margin-top:24px;
}
.material-icons {
    vertical-align: -25%;
}
.mdl-data-table th, td{
    text-align: left !important;
}
.center{
    text-align:center;
}


