<%= provide(:title, "Lista Attivita'") %>
<%= render 'activities/menu' %>


<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="card-header card-chart" data-background-color="green">
        <div class="ct-chart" id="dailySalesChart"></div>
      </div>
      <div class="card-content">
        <h4 class="title">Qui sotto ci sono tutte le attivita presenti nel sistema</h4>

        <%= render 'activities/activities' %>
        <div class="mdl-layout-spacer"></div>

        <%= link_to new_activity_path, method: 'get' do %>
          <button id="activities-user" class="btn btn-info btn-large">
            <i class="material-icons">playlist_add</i> &nbsp Aggiungi Attivita
          </button>
        <% end %>
        <div class="mdl-layout-spacer"></div>
      </div>
      <div class="card-footer">
        <div class="stats">

          
        </div>
      </div>
    </div>
  </div>

</div>
