<%= render 'activities/header' %>
<div class="mdl-grid new-activity-grid">
  <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">

    <%= render 'activities/new_form' %>
  </div>
</div>
