<header class="profile_content_header mdl-layout__header">


    <nav class="mdl-navigation" >


      <div class="container">

        <!--  buttons -->
        <div id="buttons" class="cd-section">

          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <%= link_to user_path(user), class: 'mdl-navigation__link', method: 'get' do %>
                <button id="overview-user" class="btn btn-primary btn-large button_attivi">
                  <i class="material-icons">assessment</i> &nbsp Panoramica
                </button>
              <% end %>

              <%= link_to plans_users_path(user), class: 'mdl-navigation__link', method: 'get' do %>
                <button id="activities-user" class="btn btn-info btn-large">
                  <i class="material-icons">featured_play_list</i> &nbsp Attivita' e Piani
                </button>
              <% end %>
              <%= link_to features_users_path(user), class: 'mdl-navigation__link' do %>
                <button id="features-user" class="btn btn-success btn-large">
                  <i class="material-icons">insert_drive_file</i> &nbsp Informazioni Raccolte
                </button>
              <% end %>
              <%= link_to chat_chats_path(user), class: 'mdl-navigation__link' do %>
                <button id="chatting-user" class="btn btn-warning btn-large">
                  <i class="material-icons">question_answer</i> &nbsp Chat
                </button>
              <% end %>


            </div>
          </div>
        </div>

      </div>

    </nav>

</header>

