<header class="profile_content_header mdl-layout__header">

  <div class="mdl-layout__header-row">
    <nav class="mdl-navigation" >

      <%= link_to user_path(user), class: 'mdl-navigation__link', method: 'get' do %>
          <button id="overview-user" class="mdl-button mdl-js-button mdl-button--raised ">
            <i class="material-icons">supervisor_account</i> &nbsp Panoramica
          </button>
      <% end %>

      <%= link_to plans_users_path(user), class: 'mdl-navigation__link', method: 'get' do %>
          <button id="activities-user" class="mdl-button mdl-js-button mdl-button--raised" >
            <i class="material-icons">insert_emoticon</i> &nbsp Attivita' e Piani
          </button>
      <% end %>

      <%= link_to features_users_path(user), class: 'mdl-navigation__link' do %>
          <button id="features-user" class="mdl-button mdl-js-button mdl-button--raised" >
            <i class="material-icons">block</i> &nbsp Informazioni Raccolte
          </button>
      <% end %>

    </nav>
  </div>
</header>