<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <!-- Cell Footoer -->
      <%= cell(:home_header, nil) %>

      <div class="mdl-layout__content">

        <%= yield %>

      </div>

      <!-- Cell Footoer -->
      <%= cell(:footer, 'home-footer') %>

    </div>
  </body>
</html>