<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <!-- Cell Footoer -->
      <%= cell(:home_header, nil) %>

      <div class="mdl-layout__content">

        <%= yield %>

        <!-- Cell Footoer -->
        <%= cell(:footer, nil) %>
      </div>

    </div>
  </body>
</html>