<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
  <div class="se-pre-con"></div>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <%= cell(:home_header, coach_user_signed_in?) %>

      <div class="mdl-layout__content">

        <%= yield %>

      </div>

      <%= cell(:footer, 'footer') %>

    </div>
  </body>
</html>
<!--for the page loader-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>-->
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>-->


